body {
  background-image: url("../../assets/img/인트로%20사이즈%20최종.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* 모바일 기기에서는 이미지가 잘리지 않도록 조정 */

@media (max-width: 768px) {
  body {
    background-size: contain;
    background-color: #000000;
  }
}

.section {
  width: 100vw;
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
  box-sizing: border-box;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  margin: 0;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.re {
  flex: 1;
  /*max-width: 33%;*/
  height: auto;
  aspect-ratio: 3 / 4;
  border-radius: 8px;
  object-fit: contain;
  margin-bottom: 20px;
  width: 100%;
}

.image {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 100vw;
  /*padding: 20px;*/
  height: 100%;
}

@media (max-width: 768px) {
  section.section2 {
    /*background-attachment: scroll;*/
    background-size: contain;
  }
}

.section2 {
  background: url("../../assets/img/삼면%20선%20수정.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*height: 100vh;*/
  /*justify-content: center;*/
  /*align-items: flex-start;*/
  /*padding: 40px 20px;*/
  /*box-sizing: border-box;*/
  /*display: flex;*/
  /*background-color: black;*/
  background-attachment: fixed;
  /*height: 50vh;*/
  /*display: flex;*/
}

@media (min-width: 768px) {
  .image {
    flex-direction: row;
  }
}

a {
  flex: 1;
  max-width: 33%;
  height: auto;
  aspect-ratio: 3 / 4;
  border-radius: 8px;
  object-fit: contain;
  margin-bottom: 20px;
  width: 100%;
}

